body{
    background-image: url("kloIHO.webp");
}

canvas{

    border-color: Silver;
    border-style: ridge;
    background-color: black;
    box-shadow: 5px 5px white;
    border-width: 10px;
    margin-bottom: 100px;
}